@import '../scss/variables';

.roadmap-box {
  display: flex;
  flex-direction: column;
  max-height: 178px;
  background-color: $main-white;
  padding: 24px;
  border-radius: 10px;
  max-width: 255px;

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;

    h2 {
      font-size: 18px;
      font-weight: 700;
      letter-spacing: -0.25px;
      color: #3a4374;
    }

    .link {
      font-weight: 600;
      font-size: 13px;
      color: $blue-color;
    }
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;

    h2 {
      font-size: 16px;
      font-weight: 400;
      color: $text-grey;
      width: 160px;
    }

    h3 {
      font-size: 16px;
      font-weight: 700;
      color: $text-grey;
      text-align: end;
    }

    .dot {
      &-planned {
        @extend %dot-shared;
        background: #f49f85;
      }
      &-in-progress {
        @extend %dot-shared;
        background: #ad1fea;
      }
      &-live {
        @extend %dot-shared;
        background: #62bcfa;
      }
    }
  }
}

@media (max-width: 1000px) {
  .roadmap-box {
    width: 223px;
    height: 178px;
    margin-left: 10px;
    padding: 0;

    .head {
      margin: 19px 24px 24px 24px;
    }

    .row {
      margin: 0 24px 8px 24px;

      h2 {
        width: 130px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .roadmap-box {
    margin-left: 24px;
  }
}
